﻿@model SomeCreativeName_FoodDeliveryComp.DAL.DataModels.MenuItem

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>MenuItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Spicy" class="control-label"></label>
                <input asp-for="Spicy" class="form-control" />
                <span asp-validation-for="Spicy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vegetarian" class="control-label"></label>
                <input asp-for="Vegetarian" class="form-control" />
                <span asp-validation-for="Vegetarian" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderCount" class="control-label"></label>
                <input asp-for="OrderCount" class="form-control" />
                <span asp-validation-for="OrderCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

