﻿@model SomeCreativeName_FoodDeliveryComp.DAL.DataModels.MenuItem

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MenuItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Spicy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Spicy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vegetarian)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vegetarian)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrderCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderCount)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MenuItemId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
