﻿@model IEnumerable<SomeCreativeName_FoodDeliveryComp.DAL.DataModels.Order>
@using Microsoft.AspNetCore.Mvc.Localization
@using SomeCreativeName_FoodDeliveryComp.Controllers
@using SomeCreativeName_FoodDeliveryComp.Helpers

@inject IHtmlLocalizer<OrdersController> Localizer

@{
    ViewData["Title"] = Localizer["Orders"];
}



<div class="container body-content">
    <h2>@Localizer["Orders"]</h2>
    @foreach (var order in Model)
    {
        <table class="table" id="orders">
            <thead>
                <tr>
                    <th><h3>@Html.DisplayNameFor(model => order.OrderId)</h3></th>
                    <th><h3>@Html.DisplayFor(model => order.OrderId)</h3></th>
                </tr>
            </thead>
            <tbody>
                <table class="table" id="orderItems">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => order.OrderItemsId.FirstOrDefault().MenuItemId.Category) </th>
                            <th>@Html.DisplayNameFor(model => order.OrderItemsId.FirstOrDefault().MenuItemId.Description) </th>
                            <th>@Html.DisplayNameFor(model => order.OrderItemsId.FirstOrDefault().MenuItemId.Name) </th>
                            <th>@Html.DisplayNameFor(model => order.OrderItemsId.FirstOrDefault().MenuItemId.Price) </th>
                            <th>@Html.DisplayNameFor(model => order.OrderItemsId.FirstOrDefault().MenuItemId.Spicy) </th>
                            <th>@Html.DisplayNameFor(model => order.OrderItemsId.FirstOrDefault().MenuItemId.Vegetarian) </th>
                            <th>@Html.DisplayNameFor(model => order.OrderItemsId.FirstOrDefault().Quantity) </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in order.OrderItemsId)
                        {
                            <tr>
                                <td>@Html.DisplayFor(model => item.MenuItemId.Category)</td>
                                <td>@Html.DisplayFor(model => item.MenuItemId.Description)</td>
                                <td>@Html.DisplayFor(model => item.MenuItemId.Name)</td>
                                <td>@Html.DisplayFor(model => item.MenuItemId.Price)</td>
                                <td>@Html.DisplayFor(model => item.MenuItemId.Spicy)</td>
                                <td>@Html.DisplayFor(model => item.MenuItemId.Vegetarian)</td>
                                <td>@Html.DisplayFor(model => item.Quantity)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </tbody>
        </table>
    }
    <hr />
    <footer>
        <p>&copy; 2018 - SomeCreativeName_FoodDeliveryComp</p>
    </footer>
</div>
@*<table class="table">
        <thead>
            <tr>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.OrderId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.OrderId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.OrderId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>*@
