﻿@using Microsoft.AspNetCore.Identity;
@using SomeCreativeName_FoodDeliveryComp.Areas.Identity.Data;
@using Microsoft.AspNetCore.Mvc.Localization
@using SomeCreativeName_FoodDeliveryComp.Helpers

@inject SignInManager<Costumer> SignInManager
@inject UserManager<Costumer> UserManager
@inject IHtmlLocalizer<SharedResourceHelper> Localizer

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <div class="dropdown">
                    <button type="button" class="btn btn-primary dropdown-toggle center" role="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hello @UserManager.GetUserName(User) !</button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a asp-area="" asp-action="Index" asp-controller="Orders" class="dropdown-item">@Localizer["View orders"]</a><br />
                        <a asp-area="Identity" asp-page="/Account/Manage/Index" class="dropdown-item">@Localizer["Manage account"]</a>
                    </div>
                </div>

            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">@Localizer["Logout"]</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="Identity" asp-page="/Account/Register">@Localizer["Register"]</a></li>
        <li><a asp-area="Identity" asp-page="/Account/Login">@Localizer["Login"]</a></li>
    </ul>
}
