﻿@using Microsoft.AspNetCore.Mvc.Localization
@using SomeCreativeName_FoodDeliveryComp.Controllers

@inject IHtmlLocalizer<HomeController> Localizer 

@{
    ViewData["Title"] = "About";
}
<div class="container body-content">
    <h2>@ViewData["Title"]</h2>
    <h3>@ViewData["Message"]</h3>

    <p>@Localizer["Although I'm not too confident about it."]</p>
    <hr />
    <footer>
        <p>&copy; 2018 - SomeCreativeName_FoodDeliveryComp</p>
    </footer>

</div>