﻿@model IEnumerable<SomeCreativeName_FoodDeliveryComp.DAL.DataModels.MenuItem>

@using Microsoft.AspNetCore.Mvc.Localization
@using SomeCreativeName_FoodDeliveryComp.Controllers

@inject IHtmlLocalizer<HomeController> Localizer

@{
    ViewData["Title"] = Localizer["Category filter"];
}

<div class="container body-content">
    <div class="container-fluid">
        <div class="form-group col-xs-12 col-sm-6 col-md-3 col-lg-3">
            <form method="post" asp-action="Search" asp-controller="Home">
                <label>@Localizer["Filter"]</label>
                <input type="text" class="form-control" value="@ViewData["searchTerm"]" onkeyup="$('#search').click()" name="txt" id="fltr" />
                <div class="hidden"><input type="submit" id="search" /></div>
            </form>
        </div>
    </div>

    <div class="container-fluid">
        <section id="favs">
            <div class="row text-center">
                @foreach (var item in Model)
                {
                    <div class=" col-xs-12 col-sm-6 col-md-3 col-lg-3 text-center">
                        <img src="~/images/food_image.jpg" class="img-responsive" />
                        <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
                        <h5>@Html.DisplayFor(modelItem => item.Description) </h5>
                        <p>@Html.DisplayFor(modelItem => item.Price)</p>
                        @if (item.Spicy == true)
                        {
                            <span class="glyphicon glyphicon-fire" title="@Html.DisplayNameFor(model => model.Spicy)"></span>
                        }
                        @if (item.Vegetarian == true)
                        {
                            <span class="glyphicon glyphicon-tree-deciduous" title="@Html.DisplayNameFor(model => model.Vegetarian)"></span>
                        }
                        <br />
                        <form asp-action="AddToCart" asp-controller="Home">
                            <input type="number" value="1" name="qtty" />
                            <input type="hidden" value="@item.MenuItemId" name="id" />
                            <input type="submit" class="btn btn-primary" value=@Localizer["Add to cart"] />
                        </form>
                    </div>
                }
            </div>
        </section>
    </div>
    <hr />
    <footer>
        <p>&copy; 2018 - SomeCreativeName_FoodDeliveryComp</p>
    </footer>
</div>

