﻿@using Microsoft.AspNetCore.Mvc.Localization
@using SomeCreativeName_FoodDeliveryComp.Controllers

@inject IHtmlLocalizer<HomeController> Localizer

@{
    ViewData["Title"] = Localizer["Contact"];
}
<div class="container body-content">
    <h2>@ViewData["Title"]</h2>
    <h3>@ViewData["Message"]</h3>

    <address>
        <abbr title="@Localizer["Phone"]">@Localizer["P:"]</abbr>
        +36-30/683-9123
    </address>

    <address>
        <strong>E-mail:</strong> <a href="mailto:szarka.mate@gmail.com">szarka.mate@hotmail.com</a>
    </address>
    <hr />
    <footer>
        <p>&copy; 2018 - SomeCreativeName_FoodDeliveryComp</p>
    </footer>

</div>