﻿@model IEnumerable<SomeCreativeName_FoodDeliveryComp.DAL.DataModels.MenuItem>
@{
    ViewData["Title"] = "Home Page";

}

@using SomeCreativeName_FoodDeliveryComp.Helpers
@using Microsoft.AspNetCore.Identity
@using SomeCreativeName_FoodDeliveryComp.Areas.Identity.Data
@using System.Security.Claims
{

}

@inject RoleManager<IdentityRole> _rolemanager;
@inject UserManager<Costumer> _usermanager;

<div class="flex-column text-center">
    <ul class="nav  col-xs-12 col-lg-1 col-sm-6 col-md-3">
        <li class="navbar-brand">Categories</li>
        @foreach (var item in Model.GroupBy(x => x.Category))
        {
            <li>
                <form method="post" asp-action="GetCategoryMembers">
                    <input type="submit" name="category" value="@item.Key" class="btn btn-primary btn-block" />
                </form>
            </li>
        }
    </ul>
</div>
<div class="container body-content">
    <div class="container-fluid">
        <div class="form-group col-xs-12 col-sm-6 col-md-3 col-lg-3">
            <form method="post" asp-action="Search">
                <label>Filter</label>
                <input type="text" class="form-control" value="@ViewData["searchTerm"]" onkeyup="$('#search').click()"  name="txt" id="fltr" />
                <div><input type="submit" class="hidden" id="search" /></div>
            </form>
                @if(User.IsInRole("admin"))
                {
                    <h1>@User</h1>
                }
        </div>
    </div>

    <div class="container-fluid">
        <section id="favs">
            <div class="row text-center">
                @foreach (var item in Model.OrderByDescending(item => item.OrderCount).Take(10).ToList())
                {
                    <div class=" col-xs-12 col-sm-6 col-md-3 col-lg-3 text-center">
                        <img src="~/images/food_image.jpg" class="img-responsive" />
                        <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
                        <h5>@Html.DisplayFor(modelItem => item.Description) </h5>
                        <p>@Html.DisplayFor(modelItem => item.Price)</p>
                        @if (item.Spicy == true)
                        {
                            <span class="glyphicon glyphicon-fire" title="Spicy"></span>
                        }
                        @if (item.Vegetarian == true)
                        {
                            <span class="glyphicon glyphicon-tree-deciduous" title="Vegetarian"></span>
                        }
                        <br />
                        <form asp-action="AddToCart">
                            <input type="number" value="1" name="qtty" />
                            <input type="hidden" value="@item.MenuItemId" name="id" />
                            <input type="submit" class="btn btn-primary" value="Add to cart" />
                        </form>
                    </div>
                }
            </div>
        </section>
    </div>
    <hr />
    <footer>
        <p>&copy; 2018 - SomeCreativeName_FoodDeliveryComp</p>
    </footer>

</div>
