﻿@model IEnumerable<SomeCreativeName_FoodDeliveryComp.Models.ShoppingCartItemViewModel>

@using Microsoft.AspNetCore.Mvc.Localization
@using SomeCreativeName_FoodDeliveryComp.Controllers

@inject IHtmlLocalizer<ShoppingCartItemsController> Localizer

@{
    ViewData["Title"] = "Index";
    Html.AntiForgeryToken();
    
}
<div class="container body-content">
    <h2>@Localizer["Shopping Cart"]</h2>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MenuItem.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MenuItem.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MenuItem.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MenuItem.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MenuItem.Spicy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MenuItem.Vegetarian)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalPrice)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MenuItem.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MenuItem.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MenuItem.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MenuItem.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MenuItem.Spicy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MenuItem.Vegetarian)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrice)
                </td>
                <td>
                    <form asp-action="Delete">
                        <input type="hidden" name="id" asp-for="@item.MenuItem.MenuItemId" />
                        <input type="submit" value="@Localizer["Delete"]" class="btn btn-default" />
                    </form>
                </td>
            </tr>
            }
        </tbody>
    </table>

    <div class="col-lg-offset-10 col-md-offset-10 col-sm-offset-9 col-xs-offset-8">
        <p>@Localizer["Sum price:"] <span class="badge">@Model.Sum(item => item.TotalPrice)</span></p>
        <a asp-action="PlaceOrder" class="btn btn-primary">@Localizer["Order"]</a>
        <a asp-action="EmptyCart" class="btn btn-primary">@Localizer["Empty cart"]</a>
    </div>

    <hr />
    <footer>
        <p>&copy; 2018 - SomeCreativeName_FoodDeliveryComp</p>
    </footer>
</div>
