﻿@page
@model RegisterModel
@using Microsoft.AspNetCore.Mvc.Localization
@using SomeCreativeName_FoodDeliveryComp.Helpers

@inject IHtmlLocalizer<SharedResourceHelper> localizer

    @{
        ViewData["Title"] = localizer["Register"];
    }
    <div class="container body-content">
        <h2>@ViewData["Title"]</h2>

        <div class="row">
            <div class="col-md-4">
                <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <h4>@localizer["Create a new account."]</h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Name"></label>
                        <input asp-for="Input.Name" />
                        <span asp-validation-for="Input.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Address"></label>
                        <input asp-for="Input.Address" />
                        <span asp-validation-for="Input.Address" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.ConfirmPassword"></label>
                        <input asp-for="Input.ConfirmPassword" class="form-control" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-default">Register</button>
                </form>
            </div>
        </div>
        <hr />
        <footer>
            <p>&copy; 2018 - SomeCreativeName_FoodDeliveryComp</p>
        </footer>
    </div>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
